<%
	require './compatcgi'

	rack_params = Rack::Utils.parse_query(request.query_string)
	cgi = CompatCGI.new(request)

	eval(File.read('pv/mezatalk.config'))

	# URI decoded
	@user = cgi.params['user'][0] || ''	# TODO: @ の意味ある？

	require 'digest/md5'

	# User Auth
	@ucrt = Digest::MD5.hexdigest(@user + @configs[:auth_salt])[0, 8]
	@auth = (cgi.params['ucrt'][0] == @ucrt)

	@tbdbg = ''	#" border='1'"
	@tidbg = "'images/td.png'"

%><HTML>
	<HEAD>
		<META http-equiv='Content-Type' content='text/html; charset=UTF-8'>
		<META http-equiv='Cache-Control' content='no-cache'>
<%	if(@user and @auth)
		@e_user = CGI.escape(@user)
		@quserucrt = 'user=%s;ucrt=%s;' % [@e_user, @ucrt]
		require './mzgdbm'
		u_conf = MzUserDB.new('pv/_u~%s.gdbm' % @e_user)
%>		<LINK rel='icon' id='favicon' href='favicon.png' type='image/png'>
		<LINK rel='stylesheet' href='themes/<%= u_conf.theme %>/mezatalk.css'>
		<TITLE>Mezatalk - <%= @user %></TITLE>
		<SCRIPT type='text/javascript' src='jquery.js'></SCRIPT>
		<SCRIPT type='text/javascript' src='gaze.js'></SCRIPT>
		<SCRIPT type='text/javascript' src='sound.js'></SCRIPT>
	</HEAD>
	<BODY class='gaze'>
		<IMG src='themes/<%= u_conf.theme %>/images/icon.png'><SPAN class='title'>Mezatalk - <%= @user %> - フロントページ</SPAN>
		<TABLE<%= @tbdbg %>>
			<TR><TD><IMG src=<%= @tidbg %> width='1' height='256'>
				<TD valign='top'><IMG src=<%= @tidbg %> width='480' height='1'><BR>
					◎関与している更新されたルーム <A href='help.html#sharer_update_rooms' target='_blank'>?</A><BR>
					<DIV id='sharer_update_rooms'>
<%=		res = []; MzHeadGDBM.open('pv/_h~%s.gdbm' % @e_user, 0666, GDBM::NOLOCK | GDBM::READER) {|db|
			res = db.get_tagged_update_rooms(id_prefix: 's', tagging_proc: @configs[:update_room_tagging_proc])
		}
		res.join.gsub('user=%s;ucrt=%s;', @quserucrt) %>
					</DIV>
					　<A href='javascript:void(0)' id='more_sharer_update_rooms'>…もっと見る</A>
				<TD rowspan='3' align='right' valign='top'><IMG src=<%= @tidbg %> width='480' height='1'><BR>
					<TABLE<%= @tbdbg %>>
						<TR><TD>◎特定のトピックのルームを開設する／ルームへ移動する <A href='help.html#create_topics_room' target='_blank'>?</A>
						<TR align='right'><TD>
							<FORM action='talk' method='get' target='_blank'>
								<INPUT type='hidden' name='opentype' value='topic'>
								<INPUT type='hidden' name='user' value='<%= @user %>'>
								<INPUT type='hidden' name='ucrt' value='<%= @ucrt %>'>
								<TABLE<%= @tbdbg %>>
									<TR align='right'>
										<TD>ルーム名
										<TD><INPUT type='text' name='room' style='width:320px;'>
										<TD><INPUT type='reset' value='消去'>
									<TR align='right' valign='top'>
										<TD>説明
										<TD><TEXTAREA name='desc' rows='4' style='width:320px;'></TEXTAREA>
										<TD valign='bottom'><INPUT type='submit' value='開く'>
								</TABLE>
							</FORM>
						<TR><TD>◎特定のメンバ用のルームを開設する／ルームへ移動する <A href='help.html#create_members_room' target='_blank'>?</A>
<%		require './members'
		members = Members.new(@configs)
		members.load
%>						<TR align='right'><TD>
							<FORM action='talk' method='get' target='_blank'>
								<INPUT type='hidden' name='opentype' value='members'>
								<INPUT type='hidden' name='user' value='<%= @user %>'>
								<INPUT type='hidden' name='ucrt' value='<%= @ucrt %>'>
								<TABLE<%= @tbdbg %>>
									<TR><TD rowspan='2' valign='top'>メンバ名
										<TD rowspan='2'>
											<TABLE<%= @tbdbg %>>
<%		cols = 5; seq = 1; seq_self = 999; members.each_name {|user|
			pad = seq <= cols ? "<IMG src=%s width='64' height='1'><BR>" % @tidbg : ''
			c6d7 = user == @user ? (seq_self = seq; ' checked disabled') : ''
			tr = "\t" * 8 + (seq % cols == 1 ? '<TR>' : "\t")
%>				<%= tr %><TD><%= pad %><INPUT type='checkbox' id='m<%= seq %>' name='users' value='<%= seq %>.<%= user %>'<%= c6d7 %>><LABEL for='m<%= seq %>'><%= user %></LABEL>
<%			seq += 1
		}
%>											</TABLE>
										<TD valign='top'><INPUT type='reset' value='外す'>
									<TR><TD valign='bottom'><INPUT type='submit' value='開く'>
								</TABLE>
								<INPUT type='hidden' name='seq_self' value='<%= seq_self %>'>
							</FORM>
						<TR><TD>◎個人ごと設定 <A href='help.html#user_setting' target='_blank'>?</A>
						<TR align='right'><TD>
							<TABLE<%= @tbdbg %>>
<%		query = '?user=%s;ucrt=%s' % [@user, @ucrt]
%>								<TR><TD><INPUT type='button' value='設定' onclick='location.href="setting<%= query %>"'>
							</TABLE>
						<TR align='right'><TD>
							<DIV id='status'>
							</DIV>
					</TABLE>
			<TR><TD><IMG src=<%= @tidbg %> width='1' height='256'>
				<TD valign='top'>
					◎更新されたルーム <A href='help.html#update_rooms' target='_blank'>?</A>
					<DIV id='update_rooms'>
<%=		res = []; MzHeadGDBM.open('pv/_h~ALL.gdbm', 0666, GDBM::NOLOCK | GDBM::READER) {|db|
			res = db.get_tagged_update_rooms(id_prefix: 'u', wo_regex: Regexp.new(/^_m~/), tagging_proc: @configs[:update_room_tagging_proc])
		}
		res.join.gsub('user=%s;ucrt=%s;', @quserucrt) %>
					</DIV>
					　<A href='javascript:void(0)' id='more_update_rooms'>…もっと見る</A>
			<TR><TD><IMG src=<%= @tidbg %> width='1' height='256'>
				<TD valign='top'>
					◎よく使うルーム <A href='help.html#usable_room' target='_blank'>?</A>
					<DIV id='usable_rooms'>
<%=		res = []; (it = @configs[:usable_rooms]) and it.each {|room|
			res << "・<A href='talk?user=%s;ucrt=%s;room=%s' target='_blank'>%s</A>" % [@e_user, @ucrt, '_t~' + CGI.escape(room), room]
		}
		res.join("<BR>\n") %>
					</DIV>
		</TABLE>
		<!-- javascript が読み取る -->
		<INPUT type='hidden' id='wsuri4js' name='wsuri' value='<%= ENV['WEBSOCKET_URI'] %>'>
		<INPUT type='hidden' id='user4js'  name='user'  value='<%= CGI.escape(@user) %>'>
		<INPUT type='hidden' id='ucrt4js'  name='room'  value='<%= @ucrt %>'>
<%		if(it = u_conf.sound) %>
		<INPUT type='hidden' id='sound4js' name='sound' value='<%= it %>'>
<%		end %>
<%		if(it = u_conf.blink) %>
		<INPUT type='hidden' id='blink4js' name='blink' value='<%= it %>'>
<%		end %>
<%	else %>
		<LINK rel='icon' id='favicon' href='favicon.png' type='image/png'>
		<LINK rel='stylesheet' href='themes/brdk/mezatalk.css'>
		<TITLE>Error - Mezatalk</TITLE>
	</HEAD>
	<BODY class='error'>
		<P>ユーザの指定が適切ではありません。
<%	end %>
	</BODY>
</HTML>

