<%
	require './compatcgi'

	rack_params = Rack::Utils.parse_query(request.query_string)
	cgi = CompatCGI.new(request)

	eval(File.read('pv/mezatalk.config'))

	# URI decoded
	@user = cgi.params['user'][0]

	require 'digest/md5'

	# User Auth
	@ucrt = Digest::MD5.hexdigest(@user + @configs[:auth_salt])[0, 8]
	@auth = (cgi.params['ucrt'][0] == @ucrt)

	@tbdbg = ''	#" border='1'"
	@tidbg = "'images/td.png'"

%><HTML>
	<HEAD>
		<META http-equiv='Content-Type' content='text/html; charset=UTF-8'>
		<META http-equiv='Cache-Control' content='no-cache'>
<%	if(@user and @auth)
		@e_user = CGI.escape(@user)

		require './mzgdbm'
		u_conf = MzUserDB.new('pv/_u~%s.gdbm' % @e_user)
		(it = cgi.params['theme'][0]) and u_conf.theme = it
		(it = cgi.params['lfkey'][0]) and u_conf.lfkey = it
		(it = cgi.params['sound'][0]) and u_conf.sound = it
		(it = cgi.params['volume'][0]) and u_conf.volume = it.to_i
		(it = cgi.params['blink'][0]) and u_conf.blink = it.to_i
		(it = cgi.params['adhead'][0]) and u_conf.adhead = it
		(it = cgi.params['rplmsg'][0]) and u_conf.rplmsg = it

%>		<LINK rel='icon' id='favicon' href='favicon.png' type='image/png'>
		<LINK rel='stylesheet' href='themes/<%= u_conf.theme %>/mezatalk.css'>
		<TITLE>Setting - Mezatalk - <%= @user %></TITLE>
		<SCRIPT type='text/javascript' src='jquery.js'></SCRIPT>
		<SCRIPT type='text/javascript' src='setting.js'></SCRIPT>
		<SCRIPT type='text/javascript' src='sound.js'></SCRIPT>
	</HEAD>
	<BODY class='setting'>
		<IMG src='themes/<%= u_conf.theme %>/images/icon.png'><SPAN class='title'>Setting - Mezatalk - <%= @user %></SPAN>
		<FORM action='setting' method='get'>
			<TABLE<%= @tbdbg %>>
				<TR><TD align='right' valign='top'><IMG src=<%= @tidbg %> width='480' height='1'><BR>
					<INPUT type='hidden' name='user' value='<%= @user %>'>
					<INPUT type='hidden' name='ucrt' value='<%= @ucrt %>'>
					<TABLE<%= @tbdbg %>>
						<TR align='right'>
							<TD>テーマ名
							<TD><SELECT name='theme' style='width:320px;'>
<%		Dir.glob('themes/*').sort.each {|theme0|
			theme = theme0.gsub(/.+?\//, '')
			selected = theme == u_conf.theme ? ' selected' : ''
%>									<OPTION value='<%= theme %>'<%= selected %>><%= theme %>
<%		}
%>								</SELECT>
						<TR align='right'>
							<TD colspan='2'>Return/Shift+Returnキーの挙動<SELECT name='lfkey' style='width:120px;'>
<%		['Normal', 'Reverse'].each {|lfkey|
			selected = u_conf.lfkey == lfkey ? ' selected' : ''
%>									<OPTION value='<%= lfkey %>'<%= selected %>><%= lfkey %>
<%		}
%>								</SELECT>
						<TR align='right'>
							<TD>サウンド
							<TD><SELECT name='sound' id='s_sound' style='width:180px;'>
<%		Dir.glob('sounds/*').sort.each {|sound0|
			sound = sound0.gsub(/.+?\//, '')
			selected = sound == u_conf.sound ? ' selected' : ''
%>									<OPTION value='<%= sound %>'<%= selected %>><%= sound.gsub(/\..+$/, '') %>
<%		}
%>								</SELECT>
<%		disabled = u_conf.sound ? '' : ' disabled'
%>								<SELECT name='volume' id='s_volume' style='width:60px;'<%= disabled %>>
<%		21.times {|volume0|
			volume = 100 - volume0 * 5
			selected = volume == u_conf.volume ? ' selected' : ''
%>									<OPTION value='<%= volume %>'<%= selected %>><%= volume %>%
<%		}
%>								</SELECT>
								<INPUT type='button' id='s_test' value='テスト' onclick=''<%= disabled %>>
						<TR align='right'>
							<TD colspan='2'>新着の発言を知らせる点滅の速度<SELECT name='blink' style='width:120px;'>
<%		6.times {|blink0|
			blink = blink0 * 100
			selected = blink == u_conf.blink ? ' selected' : ''
%>									<OPTION value='<%= blink %>'<%= selected %>><%= blink %>
<%		}
%>								</SELECT>
						<TR align='right'>
							<TD>HEAD追加
							<TD><TEXTAREA name='adhead' rows='3' style='width:320px;'><%= u_conf.adhead %></TEXTAREA>
						<TR align='right'>
							<TD>MSG置換
							<TD><TEXTAREA name='rplmsg' rows='3' style='width:320px;'><%= u_conf.rplmsg %></TEXTAREA>
						<TR align='right'>
							<TD><TD><INPUT type='submit' value='変更'>
					</TABLE>
					<TD align='right' valign='bottom'><IMG src=<%= @tidbg %> width='480' height='1'><BR>
						<TABLE<%= @tbdbg %>>
<%		query = '?user=%s;ucrt=%s' % [@user, @ucrt]
%>							<TR><TD><INPUT type='button' value='戻る' onclick='location.href="gaze<%= query %>"'>
						</TABLE>
			</TABLE>
		</FORM>
<%	else %>
		<LINK rel='icon' id='favicon' href='favicon.png' type='image/png'>
		<LINK rel='stylesheet' href='themes/brdk/mezatalk.css'>
		<TITLE>Error - Mezatalk</TITLE>
	</HEAD>
	<BODY class='error'>
		<P>ユーザの指定が適切ではありません。
<%	end %>
	</BODY>
</HTML>

