<%=
	require 'digest/md5'
	require 'rmagick'
	require './compatcgi'

	rack_params = Rack::Utils.parse_query(request.query_string)
	cgi = CompatCGI.new(request)

	media = []; cgi.params.each {|k, v|
		k =~ /^upload/ or next

		fdir = 'pv/uploads/'
		fname = cgi.params[k][:filename]
		ftype = cgi.params[k][:type].downcase
		ftemp = cgi.params[k][:tempfile]

		# ファイルを保存
		while(File.exist?('%s%s%s' % [fdir, hdir = Digest::MD5.hexdigest(fname)[0] + '/', fname]))
			fname = fname.reverse.succ.reverse	# 既存ならファイル名をズラす
		end
		File.exist?(fhdir = fdir + hdir) or Dir.mkdir(fhdir)
		open(fhdir + fname, 'w') {|fh|
			fh.write(ftemp.read)
		}

		# 大きい画像の場合はサムネイルを生成
		if(ftype =~ /^image\//)
			images = Magick::ImageList.new(fhdir + fname)
			images[0].rows > 128 and images[0].change_geometry('x128') {|cols, rows, image|
				image.resize(cols, rows).write(fhdir + '.' + fname)
				fname = '.' + fname	# サムネイルは先頭が「.」
			}
		end

		if((fs = ftype.split('/')).size > 1)
			case(fs[0])
			  when(it ='image')
				media << "%s/%s" % [it, hdir + fname]
			  when(it ='audio')
				media << "%s/%s" % [it, hdir + fname]
			  when(it ='video')
				media << "%s/%s" % [it, hdir + fname]
			  else
				media << "application/%s" % [hdir + fname]
			end
		else
			raise('Unexpected upload error.')
		end
	}
	media.join('//')
%>
