/* テーマ: brdk */

/* ページ全体 */
body.gaze {
	color: white;
	background-color: #0a1a01;
	background-image: url('images/bg1.png');
}
body.talk {
	color: white;
	background-color: #0a1a01;
	background-image: url('images/bg2.png');
}
body.setting {
	color: white;
	background-color: #0a1a01;
	background-image: url('images/bg3.png');
}
body.error {
	color: white;
	background-color: #0a1a01;
	background-image: url('images/bg4.png');
}
a:link {
	color: #c0c0ff;
}
a:visited {
	color: #8080cf;
}
a:hover {
	color: #ffffc0;
}
a:active {
	color: #ffc0c0;
}
input[type='text'], textarea {
	color: white;
	background-color: #280000;
	background-image: url('images/bg5.png');
}

/* タイトル */
.title {
	color: white;
	font-size: 200%;
	font-weight: bold;
	font-style: italic;
	font-family: cursive;
	margin: 0em 0em 0em 0.5em;
}

/* 機能状態表示 */
.state {
	color: gray;
	font-size: 80%;
}

/* 発言番号 */
.seq {
	color: gray;
	font-size: 70%;
}

/* 発言者 */
.user {
	color: white;
	font-size: 80%;
	margin: 0em 0em 0em 0.5em;
}

/* 訂正印 */
.correct {
	color: red;
	font-size: 80%;
	margin: 0em 0em 0em 0.5em;
}

/* 発言内容 */
.text {
	color: white;
	margin: 0em 0em 0em 1em;
	display: inline-block;
}

/* プログラムコード、ログ */
.code {
	color: #40ff00;
	background-color: #204000;
	font-size: 80%;
	font-family: monospace;
	padding: 0.5em 0.5em;
	border-radius: 1em;
	margin: 0em 0em 0em 1em;
	white-space: pre;
	display: inline-block;
}

/* アップロードへのキャプション */
.caption {
	color: white;
	font-size: 80%;
	font-family: sans-serif;
	margin: 0em 0em 0em 1em;
	display: inline-block;
}

/* アイコン */
.icon {
	color: white;
	font-size: 80%;
	margin: 0em 0em 0em 1.2em;
}

/*
	プラズマディスプレイ風
	color: #FF6020;
	background-color: #401800;

	グリーンディスプレイ風
	color: #40ff00;
	background-color: #204000;
*/

