/* テーマ: vs1 */

/* ページ全体 */
body.gaze {
	color: #043c78;
	background-color: #dce2e8;
	background-image: url('images/bg1.png');
}
body.talk {
	color: #043c78;
	background-color: #dce2e8;
	background-image: url('images/bg1.png');
}
body.setting {
	color: #043c78;
	background-color: #dce2e8;
	background-image: url('images/bg1.png');
}
body.error {
	color: #043c78;
	background-color: #dce2e8;
	background-image: url('images/bg1.png');
}
a:link {
	color: #303060;
}
a:visited {
	color: #8080c0;
}
a:hover {
	color: #c04040;
}
a:active {
	color: #c0c040;
}
input[type='text'], textarea {
	color: #d4d4c8;
	background-color: #043c78;
}

/* タイトル */
.title {
	color: #043c78;
	font-size: 200%;
	font-weight: bold;
	font-style: italic;
	font-family: cursive;
	margin: 0em 0em 0em 0.5em;
}

/* 機能状態表示 */
.state {
	color: gray;
	font-size: 80%;
}

/* 発言番号 */
.seq {
	color: gray;
	font-size: 70%;
}

/* 発言者 */
.user {
	color: #043c78;
	font-size: 80%;
	margin: 0em 0em 0em 0.5em;
}

/* 訂正印 */
.correct {
	color: red;
	font-size: 80%;
	margin: 0em 0em 0em 0.5em;
}

/* 発言内容 */
.text {
	color: #043c78;
	margin: 0em 0em 0em 1em;
	display: inline-block;
}

/* プログラムコード、ログ */
.code {
	color: #d4d4c8;
	background-color: #043c78;
	font-size: 80%;
	font-family: monospace;
	padding: 0.5em 0.5em;
	border-radius: 1em;
	margin: 0em 0em 0em 1em;
	white-space: pre;
	display: inline-block;
}

/* アップロードへのキャプション */
.caption {
	color: #043c78;
	font-size: 80%;
	font-family: sans-serif;
	margin: 0em 0em 0em 1em;
	display: inline-block;
}

/* アイコン */
.icon {
	color: #043c78;
	font-size: 80%;
	margin: 0em 0em 0em 1.2em;
}

